<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qiucode.cms.dao.MenuDao">
    <resultMap id="menu" type="cn.qiucode.cms.entity.Menu">
        <id column="menu_id" jdbcType="DECIMAL" property="menuId" />
        <result column="parent_id" jdbcType="DECIMAL" property="parentId" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="perms" jdbcType="VARCHAR" property="perms" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="type" jdbcType="CHAR" property="type" />
        <result column="sort" jdbcType="DECIMAL" property="sort" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <select id="findUserPermissions" resultMap="menu">
        SELECT
            m.perms
        FROM
            qiu_role r
        LEFT JOIN qiu_user_role ur ON (r.role_id = ur.role_id)
        LEFT JOIN qiu_admin u ON (u.id = ur.user_id)
        LEFT JOIN qiu_role_menu rm ON (rm.role_id = r.role_id)
        LEFT JOIN qiu_menu m ON (m.menu_id = rm.menu_id)
        WHERE
            u.username = #{username}
        AND m.perms is not null
        AND m.perms &lt;&gt; ''
    </select>

    <select id="findUserMenus" resultMap="menu">
        SELECT
            m.*
        FROM
            qiu_menu m
        WHERE
            m.type &lt;&gt; 1
        AND m.MENU_ID IN (
            SELECT DISTINCT
                rm.menu_id
            FROM
                qiu_role_menu rm
            LEFT JOIN qiu_role r ON (rm.role_id = r.role_id)
            LEFT JOIN qiu_user_role ur ON (ur.role_id = r.role_id)
            LEFT JOIN qiu_admin u ON (u.id = ur.user_id)
            WHERE
                u.username = #{username}
        )
        ORDER BY
          m.sort
    </select>

    <select id="selectList" resultMap="menu">
        SELECT * from qiu_menu m
        WHERE 1 = 1
        <if test="menuName != null and menuName != ''">
            AND m.menu_name like CONCAT('%',#{menuName},'%')
        </if>
        ORDER BY m.sort
    </select>

</mapper>
